<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Diabetes Tips</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tips.css') }}">
</head>

<body>
    
    <div class="header">
        <div class="navbar">
            <div class="logo">
                Diabetes Detection
            </div>
            <div class="menu">
                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('about') }}">About</a>
                <a href="https://www.doctorbangladesh.com/endocrinologist-chittagong/" target="_blank">Contact</a>
            </div>
        </div>
    </div>

    <div class="spacer"></div>

    <div class="content">
        <h1 class="title">Diabetes Management Tips</h1>
        <div class="tips-container">
            <div class="tip-card">
                <img src="/static/images/c1.JPG" alt="Healthy Diet">
                <div class="tip-text">
                    <h2>1. Maintain a Healthy Diet</h2>
                    <p>Eat a balanced diet with plenty of fruits, vegetables, and whole grains. Avoid sugary drinks and processed foods.</p>
                </div>
            </div>
            <div class="tip-card">
                <img src="/static/images/c2.JPG" alt="Healthy Diet">
                <div class="tip-text">
                    <h2>2. Regular Exercise</h2>
                    <p>Engage in regular physical activity to help control your blood sugar levels and improve your overall health.</p>
                </div>
            </div>
            <div class="tip-card">
                <img src="/static/images/c3.JPG" alt="Healthy Diet">
                <div class="tip-text">
                    <h2>3. Monitor Blood Sugar Levels</h2>
                    <p>Regularly check your blood sugar levels to manage and understand how different foods and activities affect them.</p>
                </div>
            </div>
            <div class="tip-card">
                <img src="/static/images/c4.JPG" alt="Healthy Diet">
                <div class="tip-text">
                    <h2>4. Take Medications as Prescribed</h2>
                    <p>Follow your healthcare provider's instructions regarding medications and insulin therapy.</p>
                </div>
            </div>
            <div class="tip-card">
                <img src="/static/images/c5.JPG" alt="Healthy Diet">
                <div class="tip-text">
                    <h2>5. Stay Hydrated</h2>
                    <p>Drink plenty of water to stay hydrated and help your body function properly.</p>
                </div>
            </div>
            <div class="tip-card">
                <img src="/static/images/c6.JPG" alt="Healthy Diet">
                <div class="tip-text">
                    <h2>6. Get Regular Check-ups</h2>
                    <p>Schedule regular check-ups with your healthcare provider to monitor your diabetes and overall health.</p>
                </div>
            </div>
            <div class="tip-card">
                <img src="/static/images/c7.JPG" alt="Healthy Diet">
                <div class="tip-text">
                    <h2>7. Manage Stress</h2>
                    <p>Eat a balanced diet with plenty of fruits, vegetables, and whole grains. Avoid sugary drinks and processed foods.</p>
                </div>
            </div>
            <div class="tip-card">
                <img src="/static/images/c8.JPG" alt="Healthy Diet">
                <div class="tip-text">
                    <h2>8. Adjust for your stage of life</h2>
                    <p>Hormone levels can cause your blood sugar to fluctuate</p>
                </div>
            </div>
            <!-- Repeat this block for each tip -->
        </div>
        
    </div>

    <div class="spacer"></div>

    <div class="footer">
        <p>&copy; 2024 Diabetes Detection System. All rights reserved.</p>
    </div>
</body>

</html>
